<form action="show">
  <table>
    <tr>
      <td>Page ID</td>
      <td><input name="page_id" /></td>
    </tr>
    <tr>
      <td>Goal type</td>
      <td>
        <select name="goal_type" />
          <option value="actions">Actions</option>
          <option value="dollars">Dollars</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Goal</td>
      <td><input name="goal" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>